@import './../../base/base';

.home-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 2% 0;

  .home-header {
    width: 100%;
    font-size: 48px;
  }

  .home-subheader {
    width: 100%;
    font-size: 16px;
  }

  .home-vehicles {
    max-width: 100%;
    position: relative;
    padding: 0 100px;
    margin: 5% 0;

  }
}